:root {
    --accent-dark: #97CC04;
    --bg-dark: #E84855;
    --accent-light: #E84855;
    --bg-light: #FFF3F0;
    --text-light: #1B065E;
    --text-dark: #FFF3F0;
  
}

body {
    background: #292829;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#root {
    background: #F5F0F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.layout {
    background: var(--bg-light);
    border-radius: 5px;
    padding: 1rem 0.5rem;
    color: var(--text-light);
    box-shadow: 5px 5px 10px var(--accent-light);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout.pink {
    background: var(--bg-dark);
    color: var(--text-dark);
    box-shadow: none;
}